In [1]:
import numpy as np

In [30]:
my_list = [1,2,3,4,5,6,7,8,9,0]

In [16]:
my_list = [1,2,3,4,5,6,7,8,9,0,3.5]

In [21]:
my_list = [1,2,3,4,5,6,7,8,9,0,3.5,"Hello"]

In [31]:
arr = np.array(my_list)

In [32]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [33]:
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [25]:
type(arr)

numpy.ndarray

In [34]:
arr[-1]

0

In [42]:
td_list = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]]
td_arr = np.array(td_list, dtype="S")
td_arr

array([[[b'1', b'2', b'3'],
        [b'4', b'5', b'6']],

       [[b'7', b'8', b'9'],
        [b'10', b'11', b'12']]], dtype='|S2')

In [39]:
td_arr.ndim

3

In [40]:
np.mat

In [43]:
td_arr.dtype

dtype('S2')

In [44]:
td_arr.shape

(2, 2, 3)

In [47]:
td_arr.reshape(3,2,2)

array([[[b'1', b'2'],
        [b'3', b'4']],

       [[b'5', b'6'],
        [b'7', b'8']],

       [[b'9', b'10'],
        [b'11', b'12']]], dtype='|S2')